<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Mr.Bbq</title>
    </head>
    <body>
       

            <a href="#" class="scroll-top" title="Scroll to top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        <header class="header">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header'">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Mr.Bbq</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse" id="nav-menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#menu">Menu</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><i class="fa fa-moon-o" aria-hidden="true"></i></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="showcase">
            <div class="container">
                <h1>Mr.Bbq</h1>
                <p>Best Bbq in town</p>
            </div>
        </section>
      
        <section class="boxes">
            <div class="container">
                <div class="box">
                    <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>
                    <h3>Food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                </div>
                <div class="box">
                    <i class="fa fa-coffee fa-3x" aria-hidden="true"></i>
                    <h3>Drinks</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                </div>
                <div class="box">
                    <i class="fa fa-music fa-3x" aria-hidden="true"></i>
                    <h3>Music</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                </div>
            </div>
        </section>
        <section class="newsletter">
            <div class="container">
                <h1>Subscribe To Our Newsletter</h1>
                <form>
                    <input type="email" placeholder="Enter Email...">
                    <button type="submit" class="button_1">Subscribe</button>
                </form>
            </div>
        </section>
            
    </body>
</html>