<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Mr.Bbq</title>
    </head>
    <body>
       

            <a href="#" class="scroll-top" title="Scroll to top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        <header class="header">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header'">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Mr.Bbq</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse" id="nav-menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#menu">Menu</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><i class="fa fa-moon-o" aria-hidden="true"></i></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="main-1">
            <section class="home" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-1-content">
                            <h1>Mr.Bbq</h1>
                            <p>Best BBQ in town</p>
                            <h2 class="homeSubTitle">We are open from 11:00 to 23:00</h2>
                            <a href="#about" class="btn btn-default btn-lg page-scroll">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            </section>
            <section class="about" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-content">
                                <h2>About Us</h2>
                                <p>Mr.Bbq is a restaurant that serves the best BBQ in town. We have been in business for 10 years and we have a lot of satisfied customers. We are open from 11:00 to 23:00. We are located at 1234 Main Street, New York, NY 10001. We are looking forward to seeing you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="services" id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="services-content">
                                <h2>Services</h2>
                                <p>We offer the following services:</p>
                                <ul>
                                    <li>Best BBQ in town</li>
                                    <li>Open from 11:00 to 23:00</li>
                                    <li>Located at 1234 Main Street, New York, NY 10001</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="menu" id="menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="menu-content">
                                <h2>Menu</h2>
                                <p>Here is our menu:</p>
                                <ul>
                                    <li>BBQ Chicken</li>
                                    <li>BBQ Ribs</li>
                                    <li>BBQ Pork</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-content">
                                <h2>Contact Us</h2>
                                <p>Here is how to contact us:</p>
                                <ul>
                                    <li>Phone: 123-456-7890</li>
                                    <li>Email:
                                        
                                    </li>
                                    <li>Address: 1234 Main Street, New York, NY 10001</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    
</html>